@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Questrial', sans-serif;
    background-color: #fff;
    color: #1d1d1d;
    margin: 1rem;
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden!important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
h4{
    font-weight: bolder;
}
img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
/*Container Styling*/
.cards-container, .filters-container, 
.wordcloud-container, .barchart-container, 
.category-container, .region-container{
    margin: 1rem 0;
    padding: 2rem;
    text-align: center;
    background-color: #f6f6f6;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
}
.content{
    margin: 1rem;
    padding: 1rem;
}
/* Cards Styling*/
.cards-container .col{
    margin: .5rem;
}
.card{
    background-color: #5db85b38;
    text-align: center;
    padding: 1rem;
    border: 1px solid #5CB85B;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
}
.card h2{
    font-weight: bold;
}

/* Filters Styling*/
.filters-container label{
    margin: 0;
    display: block;
    text-align: center;
    font-weight: bolder;
}
.filters-container .filter{
    margin: 0 2rem;
}
.filters-container select{
    background-color: #5CB85B;
    border: none;
    color: #fff;
}
.filters-container select:focus{
    background-color: #5CB85B;
    border: none;
    color: #fff;
    box-shadow: none;
}

/* Word Cloud Styling*/
.wordcloud-container p{
    text-align: center;
    font-weight: bold;
}
.overall-speech{
    background-color: #5db85b38;
    text-align: center;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #5CB85B;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
}
.harmful-speech{
    background-color: #b4252538;
    text-align: center;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #B42525;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
}